.home {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .ibl-button-container {
    gap: 1rem;
    display: flex;
    justify-content: center;
  }

  .ibl-form-container {
    display: flex;
    justify-content: center;
  }

  .ibl-error-banner {
    padding: 0.75rem 1rem;
    border-radius: 8px;
    background-color: var(--mat-sys-error-container);
    color: var(--mat-sys-on-error-container);
    font-size: 0.875rem;
    animation: _mat-form-field-subscript-animation 300ms cubic-bezier(0.55, 0, 0.55, 0.2);
  }

  .ibl-warning-banner {
    padding: 0.75rem 1rem;
    border-radius: 8px;
    background-color: var(--mat-sys-warning-container);
    color: var(--mat-sys-on-warning-container);
    font-size: 0.875rem;
    animation: _mat-form-field-subscript-animation 300ms cubic-bezier(0.55, 0, 0.55, 0.2);
  }
}
